<div style="margin: 2% 4%;">
  @if(isTeacher){
  <div class="example-button-container">
    <a mat-fab extended routerLink="." (click)="navToAddCourse()">
      <mat-icon>add</mat-icon>
      Add course
    </a>
  </div>
  }
  <br>
  <mat-slide-toggle (toggleChange)="toggleCourses()">show my courses</mat-slide-toggle>
  <br>

  @for(course of this.courses; track $index)
  {
  @if(isMyCourses && isUserCourse(course.id) || !isMyCourses){
  <br>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{course.title}}</mat-card-title>
      <mat-card-subtitle>teacher {{course.teacherId}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../../../public/img/3.png" alt="python">
    <mat-card-content>
      <p>{{course.description}}</p>
    </mat-card-content>
    <mat-card-actions style="display: flex;">
      <button mat-button (click)="join(course)">Join</button>
      <button mat-button (click)="leave(course)">Leaving this course</button>
      <button mat-button (click)="navToDetails(course.id)">more>></button>
    </mat-card-actions>
  </mat-card>
  <br>
  }
  }
</div>