<mat-card style="display: flex; 
justify-content: center; align-items: center;
position: relative;">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h2>{{status === 'add'? 'add' : 'update'}} course</h2>
    <div style="display: flex; padding: 8%, 4%; flex-direction: column;
                justify-content: center; align-items: center;">

      <mat-form-field appearance="outline">
        <mat-label>Course Title</mat-label>
        <input matInput formControlName="title"
          value={{course.title}}>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" 
        placeholder={{course.description}}
          value={{course.description}}>
        </textarea>
      </mat-form-field>

      @if(isAdmin){
      <mat-form-field appearance="outline">
        <mat-label>Teacher ID</mat-label>
        <input matInput formControlName="teacherId"
         placeholder={{course.teacherId}}
         value={{course.teacherId}}>
      </mat-form-field>
    }

      <!-- <h3>Lessons</h3>
      <div formArrayName="lessons">
        <div class="lesson-container">

          @if(course.lessons){
          @for (lesson of course.lessons; track $index) {
          <div [formGroupName]="$index">
            <mat-form-field appearance="outline">
              <mat-label>Lesson Title</mat-label>
              <input matInput formControlName="title" value={{lesson.title}}>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Lesson Content</mat-label>
              <textarea matInput formControlName="content" value={{lesson.content}}>
            </textarea>
            </mat-form-field>


          </div>
          }
        } -->

          <button mat-button color="primary" (click)="addLesson()">
            Add Lesson
          </button>


        </div>
      <!-- </div> -->
      <br><br>
    <!-- </div> -->

    <div class="example-button-container" style="margin-left: 45px;">
      <a mat-fab extended routerLink="." (click)="onSubmit()">
        <mat-icon>{{status === 'add'? 'add' : 'update'}}</mat-icon>
        {{status === 'add'? 'add' : 'update'}}
      </a>
    </div>
  </form>
</mat-card>