<mat-card appearance="outlined" style="size: 100%; height: 100%; display: flex;
  flex-direction: column; padding: 2% 4%; height: fit-content; ">
 
 <br>
 <div><a  style="display: flex; flex-direction: row-reverse; color: gray; " (click)="navBack()">
     <mat-icon id="close">close</mat-icon>
   </a></div>
 <br>

 <mat-card-header>
    <mat-card-title>{{course.title}}</mat-card-title>
    <mat-card-subtitle>{{course.description}}</mat-card-subtitle>
  </mat-card-header><br>
  <mat-card-header>
    <mat-card-subtitle>teacher {{course.teacherId}}</mat-card-subtitle>
  </mat-card-header><br>

  <mat-card-content>
    <h2>lessons</h2>
  </mat-card-content>
  @if(lessons){
  @for( lesson of lessons; track $index){
  <br>
  <mat-card>
    <br>
    <mat-list-item style="padding: 0 5%;">
      <h3>{{ lesson.title }}</h3>
      <p>{{lesson.content}}</p>

      @if(isTeacher){

      <br>
      <div><a mat-fab extended routerLink="." (click)="editLesson(lesson.id)">
          <mat-icon>edit</mat-icon>
        </a></div>
        <!-- <a mat-button [routerLink]="['/courses', courseId, 'editLesson', lesson.id]" routerLinkActive="active"><mat-icon>edit</mat-icon></a> -->

        <br>
        <div><a mat-fab extended routerLink="." (click)="deleteLesson(lesson.id)">
            <mat-icon>delete</mat-icon>
          </a></div>}
        <br>
    </mat-list-item>
    <br>
  </mat-card>
  }
  <br>
  }
  @if(isTeacher){
  <div>
    <a mat-fab extended routerLink="." (click)="addLesson()">
      <mat-icon>add</mat-icon>
      add lesson
    </a>
  </div>
  <br>
}


  <mat-card-actions align="end">
  </mat-card-actions>

  @if(isTeacher){
  <div style="display: flex; flex-direction: row; justify-content: space-between; width: 20%;">
    <div class="example-button-container">
      <a mat-fab extended routerLink="." (click)="deleteCourse()">
        <mat-icon>delete</mat-icon>
        delete
      </a>
    </div>

    <div class="example-button-container">
      <a mat-fab extended routerLink="." (click)="editCourse()">
        <mat-icon>edit</mat-icon>
        edit
      </a>
    </div>
  </div>
  }
</mat-card>