<div style="margin: 2% 4%;">
  @if(isTeacher){
  <div class="example-button-container">
    <a mat-fab extended routerLink="." (click)="navToAddCourse()">
      <mat-icon>add</mat-icon>
      Add course
    </a>
  </div>
  }
  <br>

  @if(!isTeacher){
  <mat-slide-toggle (toggleChange)="toggleCourses()">show my courses</mat-slide-toggle>
  <br>
  }

  <div style="margin: 2% 4%; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: stretch ;  ">

    @for(course of this.courses; track $index)
    {
    @if(isMyCourses && isUserCourse(course.id) || !isMyCourses){
    <br>
    <mat-card class="example-card" appearance="outlined" style="margin-bottom: 30px; justify-items: flex-start;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{course.title}}</mat-card-title>
        <mat-card-subtitle>teacher {{course.teacherId}}</mat-card-subtitle>
      </mat-card-header>
      <img width="100%" style="padding: 0% 5%;" mat-card-image [src]='"img/" + $index%8 + ".png"' alt="course img">
      <mat-card-content>
        <p>{{course.description}}</p>
      </mat-card-content>
      <mat-card-actions style="display: flex;">

        @if(!isTeacher){
        @if(isUserCourse(course.id)){
        <button mat-button (click)="leave(course)">Leave</button>
        }
        @else{
        <button mat-button (click)="join(course)">Join</button>
        }
        }
        <button mat-button (click)="navToDetails(course.id)">more>></button>
      </mat-card-actions>
    </mat-card>
    <br>
    }
    }
  </div>
</div>